# Домашнее задание к лекции "Базовые понятия статистики"

## Обязательная часть

Будем осуществлять работу с непростым [набором данных](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv) о состоянии здоровья лошадей, испытывающих кишечные колики. 

### Задание 1. Базовое изучение

Изучить представленный набор данных на основе [описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names) и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

### Задание 2. Работа с выбросами

В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

### Задание 3. Работа с пропусками

Рассчитать количество выбросов для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [33]:
import pandas as pd
import numpy as np
#horse = pd.read_csv('horse_data.csv', header=None)
pd.set_option('display.max_columns', 30)
#загрузка данных. Т.к. в файле отсутствует заголовок, передаем names основываясб на файле horse_data.names
horse = pd.read_csv('horse_data.csv', names=['surgery','Age', 'Hospital number', 'rect temp', 'pulse', 'resp rate', 
                                             'temp of extermities', 'periph pulse', 'mucous membranes', 'cap refill time', 
                                             'pain','peristaltisis','abdominal distension','nasogastric tube',
                                             'nasogastric reflux', 'nasogastric reflux PH', 'rectal examination',
                                             'abdomen', 'packed cell volume' ,'total protein','abdominocentesis appearance', 
                                             'abdomcentesis total protein','outcome', 'surgical lesion', '25' ,'26', '27', 
                                             'cp_data'], header=None)

horse.head(20)

,surgery,Age,Hospital number,rect temp,pulse,resp rate,temp of extermities,periph pulse,mucous membranes,cap refill time,pain,peristaltisis,abdominal distension,nasogastric tube,nasogastric reflux,nasogastric reflux PH,rectal examination,abdomen,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion,25,26,27,cp_data
0,2,1,530101,38.50,66,28,3,3,?,2,5,4,4,?,?,?,3,5,45.00,8.40,?,?,2,2,11300,0,0,2
1,1,1,534817,39.2,88,20,?,?,4,1,3,4,2,?,?,?,4,2,50,85,2,2,3,2,2208,0,0,2
2,2,1,530334,38.30,40,24,1,1,3,1,3,3,1,?,?,?,1,1,33.00,6.70,?,?,1,2,0,0,0,1
3,1,9,5290409,39.10,164,84,4,1,6,2,2,4,4,1,2,5.00,3,?,48.00,7.20,3,5.30,2,1,2208,0,0,1
4,2,1,530255,37.30,104,35,?,?,6,2,?,?,?,?,?,?,?,?,74.00,7.40,?,?,2,2,4300,0,0,2
5,2,1,528355,?,?,?,2,1,3,1,2,3,2,2,1,?,3,3,?,?,?,?,1,2,0,0,0,2
6,1,1,526802,37.90,48,16,1,1,1,1,3,3,3,1,1,?,3,5,37.00,7.00,?,?,1,1,3124,0,0,2
7,1,1,529607,?,60,?,3,?,?,1,?,4,2,2,1,?,3,4,44.00,8.30,?,?,2,1,2208,0,0,2
8,2,1,530051,?,80,36,3,4,3,1,4,4,4,2,1,?,3,5,38.00,6.20,?,?,3,1,3205,0,0,2
9,2,9,5299629,38.30,90,?,1,?,1,1,5,3,1,2,1,?,3,?,40.00,6.20,1,2.20,1,2,0,0,0,1
10,1,1,528548,38.10,66,12,3,3,5,1,3,3,1,2,1,3.00,2,5,44.00,6.00,2,3.60,1,1,2124,0,0,1
11,2,1,527927,39.10,72,52,2,?,2,1,2,1,2,1,1,?,4,4,50.00,7.80,?,?,1,1,2111,0,0,2
12,1,1,528031,37.20,42,12,2,1,1,1,3,3,3,3,1,?,4,5,?,7.00,?,?,1,2,4124,0,0,2
13,2,9,5291329,38.00,92,28,1,1,2,1,1,3,2,3,?,7.20,1,1,37.00,6.10,1,?,2,2,0,0,0,1
14,1,1,534917,38.2,76,28,3,1,1,1,3,4,1,2,2,?,4,4,46,81,1,2,1,1,2112,0,0,2
15,1,1,530233,37.60,96,48,3,1,4,1,5,3,3,2,3,4.50,4,?,45.00,6.80,?,?,2,1,3207,0,0,2
16,1,9,5301219,?,128,36,3,3,4,2,4,4,3,3,?,?,4,5,53.00,7.80,3,4.70,2,2,1400,0,0,1
17,2,1,526639,37.50,48,24,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,1,2,0,0,0,2
18,1,1,5290481,37.60,64,21,1,1,2,1,2,3,1,1,1,?,2,5,40.00,7.00,1,?,1,1,4205,0,0,1
19,2,1,532110,39.4,110,35,4,3,6,?,?,3,3,?,?,?,?,?,55,8.7,?,?,1,2,0,0,0,2

In [34]:
dtypeCount =[horse.iloc[:,i].apply(type).value_counts() for i in range(horse.shape[1])]
dtypeCount
# проверим типы данных в столбцах до внесения изменений
# сравниваем с описанием в horse_data.names

[<class 'str'>    300
 Name: surgery, dtype: int64,
 <class 'int'>    300
 Name: Age, dtype: int64,
 <class 'int'>    300
 Name: Hospital number, dtype: int64,
 <class 'str'>    300
 Name: rect temp, dtype: int64,
 <class 'str'>    300
 Name: pulse, dtype: int64,
 <class 'str'>    300
 Name: resp rate, dtype: int64,
 <class 'str'>    300
 Name: temp of extermities, dtype: int64,
 <class 'str'>    300
 Name: periph pulse, dtype: int64,
 <class 'str'>    300
 Name: mucous membranes, dtype: int64,
 <class 'str'>    300
 Name: cap refill time, dtype: int64,
 <class 'str'>    300
 Name: pain, dtype: int64,
 <class 'str'>    300
 Name: peristaltisis, dtype: int64,
 <class 'str'>    300
 Name: abdominal distension, dtype: int64,
 <class 'str'>    300
 Name: nasogastric tube, dtype: int64,
 <class 'str'>    300
 Name: nasogastric reflux, dtype: int64,
 <class 'str'>    300
 Name: nasogastric reflux PH, dtype: int64,
 <class 'str'>    300
 Name: rectal examination, dtype: int64,
 <class 'str'>    300
 Name: abdomen, dtype: int64,
 <class 'str'>    300
 Name: packed cell volume, dtype: int64,
 <class 'str'>    300
 Name: total protein, dtype: int64,
 <class 'str'>    300
 Name: abdominocentesis appearance, dtype: int64,
 <class 'str'>    300
 Name: abdomcentesis total protein, dtype: int64,
 <class 'str'>    300
 Name: outcome, dtype: int64,
 <class 'int'>    300
 Name: surgical lesion, dtype: int64,
 <class 'int'>    300
 Name: 25, dtype: int64,
 <class 'int'>    300
 Name: 26, dtype: int64,
 <class 'int'>    300
 Name: 27, dtype: int64,
 <class 'int'>    300
 Name: cp_data, dtype: int64]

In [35]:
# surgery должен быть integer, пропуск пока заменим на 1
horse['surgery'] = pd.to_numeric(horse['surgery'], errors = 'coerce').fillna(1).astype(np.int64)

# в столбце Age может быть 2 значения (1 и 2), а присутствует 1 и 9. Заменяем на подходящее.
horse.loc[horse['Age'] == 9, 'Age'] = 2

#horse.head(20)

In [36]:
#Заменим все ? на NaN
horse = horse.mask(horse == '?')

#а колонку с температурой приведем к соответсвующему её типу float
horse['rect temp'] = horse['rect temp'].astype('float')

#horse.head(30)
#dtypeCount =[horse.iloc[:,i].apply(type).value_counts() for i in range(horse.shape[1])]
#dtypeCount

In [37]:
# изменим типы данных в некоторых колонках. Если колонки категориальные, заполним пропуски 0
horse['pulse'] = pd.to_numeric(horse['pulse'], errors = 'coerce').fillna(0).astype(np.int64)
horse['resp rate'] = pd.to_numeric(horse['resp rate'], errors = 'coerce').fillna(0).astype(np.int64)

horse['temp of extermities'] = pd.to_numeric(horse['temp of extermities'], errors = 'coerce').fillna(0).astype(np.int64)
horse['periph pulse'] = pd.to_numeric(horse['periph pulse'], errors = 'coerce').fillna(0).astype(np.int64)

horse['mucous membranes'] = pd.to_numeric(horse['mucous membranes'], errors = 'coerce').fillna(0).astype(np.int64)
horse['cap refill time'] = pd.to_numeric(horse['cap refill time'], errors = 'coerce').fillna(0).astype(np.int64)


horse.head(20)
#horse['surgery'].fillna(1, inplace=True)
#print(horse.iloc[132, :])

,surgery,Age,Hospital number,rect temp,pulse,resp rate,temp of extermities,periph pulse,mucous membranes,cap refill time,pain,peristaltisis,abdominal distension,nasogastric tube,nasogastric reflux,nasogastric reflux PH,rectal examination,abdomen,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion,25,26,27,cp_data
0,2,1,530101,38.5,66,28,3,3,0,2,5,4,4,NaN,NaN,NaN,3,5,45.00,8.40,NaN,NaN,2,2,11300,0,0,2
1,1,1,534817,39.2,88,20,0,0,4,1,3,4,2,NaN,NaN,NaN,4,2,50,85,2,2,3,2,2208,0,0,2
2,2,1,530334,38.3,40,24,1,1,3,1,3,3,1,NaN,NaN,NaN,1,1,33.00,6.70,NaN,NaN,1,2,0,0,0,1
3,1,2,5290409,39.1,164,84,4,1,6,2,2,4,4,1,2,5.00,3,NaN,48.00,7.20,3,5.30,2,1,2208,0,0,1
4,2,1,530255,37.3,104,35,0,0,6,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.00,7.40,NaN,NaN,2,2,4300,0,0,2
5,2,1,528355,NaN,0,0,2,1,3,1,2,3,2,2,1,NaN,3,3,NaN,NaN,NaN,NaN,1,2,0,0,0,2
6,1,1,526802,37.9,48,16,1,1,1,1,3,3,3,1,1,NaN,3,5,37.00,7.00,NaN,NaN,1,1,3124,0,0,2
7,1,1,529607,NaN,60,0,3,0,0,1,NaN,4,2,2,1,NaN,3,4,44.00,8.30,NaN,NaN,2,1,2208,0,0,2
8,2,1,530051,NaN,80,36,3,4,3,1,4,4,4,2,1,NaN,3,5,38.00,6.20,NaN,NaN,3,1,3205,0,0,2
9,2,2,5299629,38.3,90,0,1,0,1,1,5,3,1,2,1,NaN,3,NaN,40.00,6.20,1,2.20,1,2,0,0,0,1
10,1,1,528548,38.1,66,12,3,3,5,1,3,3,1,2,1,3.00,2,5,44.00,6.00,2,3.60,1,1,2124,0,0,1
11,2,1,527927,39.1,72,52,2,0,2,1,2,1,2,1,1,NaN,4,4,50.00,7.80,NaN,NaN,1,1,2111,0,0,2
12,1,1,528031,37.2,42,12,2,1,1,1,3,3,3,3,1,NaN,4,5,NaN,7.00,NaN,NaN,1,2,4124,0,0,2
13,2,2,5291329,38.0,92,28,1,1,2,1,1,3,2,3,NaN,7.20,1,1,37.00,6.10,1,NaN,2,2,0,0,0,1
14,1,1,534917,38.2,76,28,3,1,1,1,3,4,1,2,2,NaN,4,4,46,81,1,2,1,1,2112,0,0,2
15,1,1,530233,37.6,96,48,3,1,4,1,5,3,3,2,3,4.50,4,NaN,45.00,6.80,NaN,NaN,2,1,3207,0,0,2
16,1,2,5301219,NaN,128,36,3,3,4,2,4,4,3,3,NaN,NaN,4,5,53.00,7.80,3,4.70,2,2,1400,0,0,1
17,2,1,526639,37.5,48,24,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,0,2
18,1,1,5290481,37.6,64,21,1,1,2,1,2,3,1,1,1,NaN,2,5,40.00,7.00,1,NaN,1,1,4205,0,0,1
19,2,1,532110,39.4,110,35,4,3,6,0,NaN,3,3,NaN,NaN,NaN,NaN,NaN,55,8.7,NaN,NaN,1,2,0,0,0,2

In [38]:
# посмотрим как изменились типы данных
dtypeCount =[horse.iloc[:,i].apply(type).value_counts() for i in range(horse.shape[1])]
dtypeCount

[<class 'int'>    300
 Name: surgery, dtype: int64,
 <class 'int'>    300
 Name: Age, dtype: int64,
 <class 'int'>    300
 Name: Hospital number, dtype: int64,
 <class 'float'>    300
 Name: rect temp, dtype: int64,
 <class 'int'>    300
 Name: pulse, dtype: int64,
 <class 'int'>    300
 Name: resp rate, dtype: int64,
 <class 'int'>    300
 Name: temp of extermities, dtype: int64,
 <class 'int'>    300
 Name: periph pulse, dtype: int64,
 <class 'int'>    300
 Name: mucous membranes, dtype: int64,
 <class 'int'>    300
 Name: cap refill time, dtype: int64,
 <class 'str'>      245
 <class 'float'>     55
 Name: pain, dtype: int64,
 <class 'str'>      256
 <class 'float'>     44
 Name: peristaltisis, dtype: int64,
 <class 'str'>      244
 <class 'float'>     56
 Name: abdominal distension, dtype: int64,
 <class 'str'>      196
 <class 'float'>    104
 Name: nasogastric tube, dtype: int64,
 <class 'str'>      194
 <class 'float'>    106
 Name: nasogastric reflux, dtype: int64,
 <class 'float'>    247
 <class 'str'>       53
 Name: nasogastric reflux PH, dtype: int64,
 <class 'str'>      198
 <class 'float'>    102
 Name: rectal examination, dtype: int64,
 <class 'str'>      182
 <class 'float'>    118
 Name: abdomen, dtype: int64,
 <class 'str'>      271
 <class 'float'>     29
 Name: packed cell volume, dtype: int64,
 <class 'str'>      267
 <class 'float'>     33
 Name: total protein, dtype: int64,
 <class 'float'>    165
 <class 'str'>      135
 Name: abdominocentesis appearance, dtype: int64,
 <class 'float'>    198
 <class 'str'>      102
 Name: abdomcentesis total protein, dtype: int64,
 <class 'str'>      299
 <class 'float'>      1
 Name: outcome, dtype: int64,
 <class 'int'>    300
 Name: surgical lesion, dtype: int64,
 <class 'int'>    300
 Name: 25, dtype: int64,
 <class 'int'>    300
 Name: 26, dtype: int64,
 <class 'int'>    300
 Name: 27, dtype: int64,
 <class 'int'>    300
 Name: cp_data, dtype: int64]

In [39]:
# считаем
horse_filtered = horse[(horse['rect temp'] > 0)]

print('Максимальная ректальная температура =', horse_filtered['rect temp'].max(), 'градусов Цельсия')
print('Минимальная ректальная температура =', horse_filtered['rect temp'].min(), 'градусов Цельсия')
print('Мода ректальной температуры =', horse_filtered['rect temp'].mode()[0], 'градусов Цельсия')
print('Медиана ректальной температуры = ', horse_filtered['rect temp'].median(), 'градусов Цельсия')
horse_filtered.head(10)

Максимальная ректальная температура = 40.8 градусов Цельсия
Минимальная ректальная температура = 35.4 градусов Цельсия
Мода ректальной температуры = 38.0 градусов Цельсия
Медиана ректальной температуры =  38.2 градусов Цельсия

,surgery,Age,Hospital number,rect temp,pulse,resp rate,temp of extermities,periph pulse,mucous membranes,cap refill time,pain,peristaltisis,abdominal distension,nasogastric tube,nasogastric reflux,nasogastric reflux PH,rectal examination,abdomen,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion,25,26,27,cp_data
0,2,1,530101,38.5,66,28,3,3,0,2,5,4,4,NaN,NaN,NaN,3,5,45.00,8.40,NaN,NaN,2,2,11300,0,0,2
1,1,1,534817,39.2,88,20,0,0,4,1,3,4,2,NaN,NaN,NaN,4,2,50,85,2,2,3,2,2208,0,0,2
2,2,1,530334,38.3,40,24,1,1,3,1,3,3,1,NaN,NaN,NaN,1,1,33.00,6.70,NaN,NaN,1,2,0,0,0,1
3,1,2,5290409,39.1,164,84,4,1,6,2,2,4,4,1,2,5.00,3,NaN,48.00,7.20,3,5.30,2,1,2208,0,0,1
4,2,1,530255,37.3,104,35,0,0,6,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.00,7.40,NaN,NaN,2,2,4300,0,0,2
6,1,1,526802,37.9,48,16,1,1,1,1,3,3,3,1,1,NaN,3,5,37.00,7.00,NaN,NaN,1,1,3124,0,0,2
9,2,2,5299629,38.3,90,0,1,0,1,1,5,3,1,2,1,NaN,3,NaN,40.00,6.20,1,2.20,1,2,0,0,0,1
10,1,1,528548,38.1,66,12,3,3,5,1,3,3,1,2,1,3.00,2,5,44.00,6.00,2,3.60,1,1,2124,0,0,1
11,2,1,527927,39.1,72,52,2,0,2,1,2,1,2,1,1,NaN,4,4,50.00,7.80,NaN,NaN,1,1,2111,0,0,2
12,1,1,528031,37.2,42,12,2,1,1,1,3,3,3,3,1,NaN,4,5,NaN,7.00,NaN,NaN,1,2,4124,0,0,2

In [45]:
# тоже самое можно посчитать и для пульса, но тут лучше откинуть минимум и максимум
pulse_low = horse_filtered['pulse'].quantile(0.01)
pulse_hi  = horse_filtered['pulse'].quantile(0.99)

pulse_filtered = horse_filtered[(horse_filtered['pulse'] < pulse_hi) & (horse_filtered['pulse'] > pulse_low)]

print('Максимальый пульс =', pulse_filtered['rect temp'].max(), 'градусов Цельсия')
print('Минимальный пульс =', pulse_filtered['rect temp'].min(), 'градусов Цельсия')
print('Мода пульса =', pulse_filtered['rect temp'].mode()[0], 'градусов Цельсия')
print('Медиана пульса = ', pulse_filtered['rect temp'].median(), 'градусов Цельсия')


#pulse_filtered.head(10)

Максимальый пульс = 40.8 градусов Цельсия
Минимальный пульс = 35.4 градусов Цельсия
Мода пульса = 38.0 градусов Цельсия
Медиана пульса =  38.1 градусов Цельсия

In [49]:
# максимально избавляемся от пропусков данных
horse_final = pulse_filtered[(pulse_filtered['resp rate'] > 0)]
horse_final = horse_final[(horse_final['temp of extermities'] > 0)]
horse_final = horse_final[(horse_final['periph pulse'] > 0)]
horse_final = horse_final[(horse_final['mucous membranes'] > 0)]
horse_final = horse_final[(horse_final['cap refill time'] > 0)]

horse_final.head(20)

,surgery,Age,Hospital number,rect temp,pulse,resp rate,temp of extermities,periph pulse,mucous membranes,cap refill time,pain,peristaltisis,abdominal distension,nasogastric tube,nasogastric reflux,nasogastric reflux PH,rectal examination,abdomen,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion,25,26,27,cp_data
2,2,1,530334,38.3,40,24,1,1,3,1,3,3,1,NaN,NaN,NaN,1,1,33.00,6.70,NaN,NaN,1,2,0,0,0,1
6,1,1,526802,37.9,48,16,1,1,1,1,3,3,3,1,1,NaN,3,5,37.00,7.00,NaN,NaN,1,1,3124,0,0,2
10,1,1,528548,38.1,66,12,3,3,5,1,3,3,1,2,1,3.00,2,5,44.00,6.00,2,3.60,1,1,2124,0,0,1
12,1,1,528031,37.2,42,12,2,1,1,1,3,3,3,3,1,NaN,4,5,NaN,7.00,NaN,NaN,1,2,4124,0,0,2
13,2,2,5291329,38.0,92,28,1,1,2,1,1,3,2,3,NaN,7.20,1,1,37.00,6.10,1,NaN,2,2,0,0,0,1
14,1,1,534917,38.2,76,28,3,1,1,1,3,4,1,2,2,NaN,4,4,46,81,1,2,1,1,2112,0,0,2
15,1,1,530233,37.6,96,48,3,1,4,1,5,3,3,2,3,4.50,4,NaN,45.00,6.80,NaN,NaN,2,1,3207,0,0,2
18,1,1,5290481,37.6,64,21,1,1,2,1,2,3,1,1,1,NaN,2,5,40.00,7.00,1,NaN,1,1,4205,0,0,1
20,1,1,530157,39.9,72,60,1,1,5,2,5,4,4,3,1,NaN,4,4,46.00,6.10,2,NaN,1,1,2111,0,0,2
24,1,1,533692,38.1,60,12,3,3,3,1,NaN,4,3,3,2,2,NaN,NaN,51,65,NaN,NaN,1,1,3111,0,0,2
26,1,1,530526,38.3,72,30,4,3,3,2,3,3,3,2,1,NaN,3,5,43.00,7.00,2,3.90,1,1,3111,0,0,1
27,1,1,528653,37.8,48,12,3,1,1,1,NaN,3,2,1,1,NaN,1,3,37.00,5.50,2,1.30,1,2,4122,0,0,1
30,2,1,529475,37.7,96,30,3,3,4,2,5,4,4,3,2,4.00,4,5,66.00,7.50,NaN,NaN,2,1,4205,0,0,2
31,2,1,530242,37.2,108,12,3,3,4,2,2,4,2,NaN,3,6.00,3,3,52.00,8.20,3,7.40,3,1,2207,0,0,1
33,1,1,529663,38.2,64,28,1,1,1,1,3,1,NaN,NaN,NaN,NaN,4,4,49.00,8.60,2,6.60,1,1,2208,0,0,1
42,2,1,530301,38.0,60,12,3,1,3,1,3,3,1,1,1,NaN,2,2,47.00,7.00,NaN,NaN,1,2,3111,0,0,2
44,1,1,535407,35.4,140,24,3,3,4,2,4,4,NaN,2,1,NaN,NaN,5,57,69,3,2,3,1,3205,0,0,2
47,2,1,529821,37.5,48,16,1,1,1,1,1,1,1,1,1,NaN,1,NaN,37.00,6.50,NaN,NaN,1,2,0,0,0,2
48,1,1,528890,38.9,80,44,3,3,3,2,2,3,3,2,2,7.00,3,1,54.00,6.50,3,NaN,2,1,7111,0,0,2
49,2,1,529642,37.2,84,48,3,3,5,2,4,1,2,1,2,NaN,2,1,73.00,5.50,2,4.10,2,2,4300,0,0,1

In [ ]:
# другой вариант избавления от пропусков может быть основан на имеющихся данных.
# Например, от Rectal temperature напрямую зависит Temperature of extermities.

## Дополнительная часть (необязательная)

Выполнить задания 1-3 для всего набора данных.

#### ПРИМЕЧАНИЕ
Домашнее задание сдается ссылкой на репозиторий [GitHub](https://github.com/).
Не сможем проверить или помочь, если вы пришлете:
- файлы;
- архивы;
- скриншоты кода.

Все обсуждения и консультации по выполнению домашнего задания ведутся только на соответствующем канале в slack.

##### Как правильно задавать вопросы аспирантам, преподавателям и коллегам
Прежде чем задать вопрос, попробуйте найти ответ в интернете. Навык самостоятельного поиска информации — один из важнейших. Каждый практикующий специалист любого уровня делает это ежедневно.

Сформулируйте вопрос по алгоритму:  
1) Что я делаю?  
2) Какого результата я ожидаю?  
3) Как фактический результат отличается от ожидаемого?  
4) Что я уже попробовал сделать, чтобы исправить проблему?  

По возможности прикрепите к вопросу скриншоты либо ссылки на код. Не выкладывайте все решение, оставляйте только проблемный и воспроизводимый участок кода.