## Задание 1

Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

если источник traffic_source равен yandex или google, то в source_type ставится organic
для источников paid и email из России - ставим ad
для источников paid и email не из России - ставим other
все остальные варианты берем из traffic_source без изменений

In [33]:
import pandas as pd

log = pd.read_csv('visit_log.csv', sep=';')
log.head(10)

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex
5,1549980742,8855508aad,https://host.ru/df646c3676cc259fa0,Russia,fc43898e47,yandex
6,1549980742,b0f66adc83,https://host.ru/b8b58337d272ee7b15,Russia,13fc55e781,paid
7,1549980754,837885c8f8,https://host.ru/108ce4b365afb7b88e,Russia,cb5082b6f6,direct
8,1549980760,af5570f5a1,https://host.ru/3004a8273caeef2867,China,45664f7af2,direct
9,1549980765,3e7077fd2f,https://host.ru/df646c3676cc259fa0,Russia,6f9de8c8b6,email

In [34]:
log.loc[:, 'source_type'] = log['traffic_source']
log.loc[log.traffic_source.isin(['yandex', 'google']), 'source_type'] = 'organic'
log.loc[log.region.isin(['Russia']) & log.traffic_source.isin(['paid','email']), 'source_type'] = 'ad'
log.loc[~log.region.isin(['Russia']) & log.traffic_source.isin(['paid','email']), 'source_type'] = 'other'

In [35]:
log.head(20)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic
5,1549980742,8855508aad,https://host.ru/df646c3676cc259fa0,Russia,fc43898e47,yandex,organic
6,1549980742,b0f66adc83,https://host.ru/b8b58337d272ee7b15,Russia,13fc55e781,paid,ad
7,1549980754,837885c8f8,https://host.ru/108ce4b365afb7b88e,Russia,cb5082b6f6,direct,direct
8,1549980760,af5570f5a1,https://host.ru/3004a8273caeef2867,China,45664f7af2,direct,direct
9,1549980765,3e7077fd2f,https://host.ru/df646c3676cc259fa0,Russia,6f9de8c8b6,email,ad
10,1549980777,01d448afd9,https://host.ru/a5dda93e70318570c0,India,27e76a4a80,direct,direct
11,1549980785,71b6c1d538,https://host.ru/c8d9213a31839f9a3a,Ukraine,3b13701488,google,organic
12,1549980789,15ec7bf0b5,https://host.ru/8e88d4703848cc0ec4,Russia,6d1d81f7f8,paid,ad
13,1549980792,dd46c3eebb,https://host.ru/3004a8273caeef2867,China,7e301c8c41,direct,direct
14,1549980793,e7ecebbc59,https://host.ru/05e41944dd85a900a6,Belarus,ac52dedc3b,direct,direct
15,1549980797,5322fecfc9,https://host.ru/4adc8a29b212051b04,Belarus,9a45d98867,paid,other
16,1549980801,374708fff7,https://host.ru/39fa884393666d45fc,Russia,e9bd59e22d,google,organic
17,1549980807,0a88111852,https://host.ru/2fcb223266880ccf57,Ukraine,a2ba8fa3db,paid,other
18,1549980814,60daa3a5f7,https://host.ru/ef57543002ce2a0f2a,Belarus,72cb10fb5c,direct,direct
19,1549980816,d6fd62f5ce,https://host.ru/f1eb4601740d627ab0,Belarus,7269dcd869,direct,direct

## Задание 2

В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

1. Прочитайте содержимое файла с датафрейм
2. Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [38]:
import pandas as pd

data = pd.read_csv('URLs.txt', header = None)
data.head(10)

                                                   0
0                                                url
1                                            /world/
2                                           /latest/
3                                      /?updated=top
4  /politics/36188461-s-marta-zhizn-rossiyan-susc...
5  /world/36007585-tramp-pridumal-kak-reshit-ukra...
6  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
7  /video/36001498-poyavilis-pervye-podrobnosti-g...
8  /world/36007585-tramp-pridumal-kak-reshit-ukra...
9                                          /science/

In [57]:
import re


result = data[data[0].str.contains('\/\d{8}-', regex = True)]

result.head(20)

                                                    0
4   /politics/36188461-s-marta-zhizn-rossiyan-susc...
5   /world/36007585-tramp-pridumal-kak-reshit-ukra...
6   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
7   /video/36001498-poyavilis-pervye-podrobnosti-g...
8   /world/36007585-tramp-pridumal-kak-reshit-ukra...
11  /middleeast/36131117-divizion-s-400-ne-zametil...
12  /economics/36065674-rossiyane-vozmutilis-minim...
13  /politics/36118047-otets-24-detey-potreboval-i...
14  /travel/36194479-v-sheremetevo-passazhiry-ustr...
15  /politics/35638742-nesolidno-mariya-zaharova-s...
16  /video/36012692-tramp-otkrestilsya-ot-rossii-i...
17     /starlife/36174817-guzeeva-rasstalas-s-muzhem/
18  /health/36149308-predlozheno-prostoe-sredstvo-...
19  /science/36139723-set-vzbudorazhila-novost-o-s...
20  /cis/36229699-poroshenko-obyavil-vseukrainskiy...
21  /incidents/36225203-tonnel-obrushilsya-v-novoy...
22  /politics/36118047-otets-24-detey-potreboval-i...
23  /world/36075956-na-granitse-s-krymom-zahvachen...
24  /politics/36115220-mid-vystupil-s-preduprezhde...
25  /world/36018565-sbu-opublikovala-zapis-peregov...

## Задание 3

1. Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [121]:
import pandas as pd

data = pd.read_csv('ml-latest-small/ratings.csv', sep=',')

In [122]:
ratings_count=data.groupby('userId').count().reset_index()
ratings_count=ratings_count[['userId','rating']]
ratings_count.rename(columns={'rating': 'rating_count'}, inplace=True)
#ratings_count.head()

In [123]:
ratings_count = ratings_count.loc[ratings_count['rating_count'] >= 100]
#ratings_count.head()

In [124]:
rating_max=data.groupby('userId').max().reset_index()
rating_max = rating_max[['userId', 'timestamp']]
rating_max.rename(columns={'timestamp': 'timestamp_max'}, inplace=True)
#rating_max.head()

In [125]:
rating_min=data.groupby('userId').min().reset_index()
rating_min = rating_min[['userId', 'timestamp']]
rating_min.rename(columns={'timestamp': 'timestamp_min'}, inplace=True)
#rating_min.head()

In [126]:
timestamp=ratings_count.merge(rating_max, how='inner').merge(rating_min, how='inner')
timestamp['avg_time_to_live']=avg_timestamp.apply(lambda x: x.timestamp_max - x.timestamp_min, axis=1)
timestamp=timestamp[['userId', 'avg_time_to_live']]
timestamp.head(10)

   userId  avg_time_to_live
0       4            203560
1       5              2101
2       8             85187
3      15         471393496
4      17              8053
5      19              5282
6      21           1365432
7      22             91491
8      23          18342129
9      26          20267261

## Задание 4

2. Дана статистика услуг перевозок клиентов компании по типам (см. файл “Python_13_join.ipynb” в разделе Материалы для лекции «Продвинутый pandas» ---- Ноутбуки к лекции «Продвинутый pandas»).
Необходимо сформировать две таблицы:
 - таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
 - аналогичную таблицу по типам выручки с указанием адреса клиента

Обратите внимание, что в процессе объединения таблиц данные не должны теряться.

In [139]:
import pandas as pd

rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)


auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)

air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)

client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

In [140]:
client_base

   client_id          address
0        111  Комсомольская 4
1        112   Энтузиастов 8а
2        113  Левобережная 1а
3        114          Мира 14
4        115        ЗЖБИиДК 1
5        116    Строителей 18
6        117  Панфиловская 33
7        118     Мастеркова 4

In [141]:
table=rzd.merge(auto, how='outer', on='client_id')
table=table.merge(air, how='outer', on='client_id')
table.loc[table.rzd_revenue.isnull(), 'rzd_revenue',] = 0
table.loc[table.auto_revenue.isnull(), 'auto_revenue',] = 0
table.loc[table.air_revenue.isnull(), 'air_revenue',] = 0
table = table.merge(client_base, how = 'outer', on='client_id')
table

   client_id  rzd_revenue  auto_revenue  air_revenue          address
0        111       1093.0           0.0          0.0  Комсомольская 4
1        112       2810.0           0.0          0.0   Энтузиастов 8а
2        113      10283.0       57483.0          0.0  Левобережная 1а
3        114       5774.0          83.0          0.0          Мира 14
4        115        981.0         912.0         81.0        ЗЖБИиДК 1
5        116          0.0        4834.0          4.0    Строителей 18
6        117          0.0          98.0         13.0  Панфиловская 33
7        118          0.0           0.0        173.0     Мастеркова 4